@font-face {
  font-family: 'Rubik';
  src: url(./assets/fonts/Rubik-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url(./assets/fonts/Rubik-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Rubik, sans-serif;
  color: #1ED760;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h4 {
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }
}
